/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

/* NAV */
ul.navBar {
  list-style-type: none;
  background-color: #c9184a;
  overflow: hidden;
  padding: 1em;
  text-align: right;
}

li.nav-item{
  display: inline;
}

li.nav-item a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #F8EDEB;
  font-size: 1.3em;
  padding: 1em;
}

li.nav-item a:hover {
  background-color: #ff758f;
}

body {
 background-color: #F8EDEB; 
}

h1 {
  color: #ffccd5;
  font-size: 60pt;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-shadow: 5px 5px 0px #c9184a;
  text-align: center;

  margin-top: 40px;
  margin-bottom: 40px;
}

h2{
  color: #a4133c;
  font-size: xx-large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 1em;
}

#wcabackground{
  background: linear-gradient(#a4133c, #F8EDEB ), url("assets/protest.jpg");
  padding-top: 2em;
  padding-bottom: 2em;
  background-size: cover;
  background-repeat: no-repeat;

  color: #ffccd5;
  font-size: 60pt;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-shadow: 5px 5px 0px #c9184a;
  text-align: center;

  margin-top: 0px;

}

#bottomMain {
  background-color: #ffccd5;
  padding: 2em;
}

p{
  text-align: center;
  color:#800F2F;
  font-size: 24pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;

  margin-top: 20px;
  margin-bottom: 20px;

  display: block;
  margin-left: 40px;
  margin-right: 40px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

#WCA{
  margin-right: 900px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
  color: #F8EDEB;
  font-weight: bold;
  text-shadow: 3px 3px 0px #ff758f;
}

#callSenator{
  background-color: #ffccd5;
  display: block;
  margin-left: 0em;
  margin-right:0em;
  padding-left: 8em;
  padding-right: 8em;
}

.subtitle{
  text-align: center;
  
}

/* MYTH GENERATOR*/
.genMyth {
  background: #c9184a;
  border-radius: 10px;
  border-style: none;

  padding: 15px;

  margin-top: 30px;
  margin-left: 35%;
  margin-right: 35%;

  box-shadow: 10px 10px 0px #800F2F;
}

.genMythText {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  line-height: 1.2em;
  color: #ffccd5;
}

#myth {
  border-style: none;

  padding: 15px;

  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;

  font-family: "Roboto Mono", sans-serif;
  font-size: 2em;
  text-align: center;
  line-height: 1.2em;
  color: #800F2F;

}

#mythBtn{
  display: block;
  margin-left: auto;
  margin-right: auto;

  background: #F8EDEB;
  border-style: none;
  border-radius: 10px;

  padding: 10px;
  margin-top: 20px;
  margin-bottom: 15px;

  color: #ff758f;
  font-size: 24pt;
}

/* CALL LEGISLATORS*/
.scriptQues {
  background: #c9184a;
  border-radius: 10px;
  box-shadow: 10px 10px 0px #800F2F;

  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 40px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.9em;
  color: #F8EDEB;
}

.scriptItem{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 10px;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

}

#scriptBtn {
  background: #ff758f;
  border-style: none;
  border-radius: 10px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  
  padding: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 15px;

  color: #ffffff;
  font-size: 1em;
}

input {
  border-style: none;
  border-radius: 5px;
  width: 60%;
}

#scriptReturned {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;

  color: #800F2F;
}

.resources {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#800F2F;
  font-weight: 200;
  font-size:18pt;

  margin-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

.resources li {
  margin-bottom: 15px;
}
